/* .navbar-nav > .active > a {
    color: aqua;
    background-color: chartreuse;
  }
  .nav-item > a:hover {
    color: aqua;
  } */




  .servicepic {
    position: relative;
    text-align: center;
    color: black;
  }


  .top-left {
    position: absolute;
    top: 8px;
    left: 75px;
  }

  .top-left2 {
    position: absolute;
    top: 320px;
    left: 79px;
  }

  .top-left3 {
    position: absolute;
    top: 400px;
    left: 79px;
  }



  
  @media only screen and (max-width: 420px) {
    .topper1{
      visibility: hidden;
      display: none;
      
      
    }
}










  
@media only screen and (min-width: 900px) {
    .topper1{
        font-weight: 700;
        font-size: 85px;
        text-align: left;
        padding-top: 70px;
      
      
    }
}





@media only screen and (max-width: 420px) {
    .topper2{
        font-weight: 500;
        font-size: 30px;
        text-align: center;

        
      
      
    }
}

  
@media only screen and (min-width: 900px) {
    .topper2{
        visibility: hidden;
        display: none;
      
    }
}









@media only screen and (max-width: 420px) {
  .service-position{
    padding-right: 37px;

    
    
  }
}





















/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .contact111 {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
  }

 
  
    
@media only screen and (min-width: 900px) {
    .contact111{
        width: 800px;
        
        
    }
}


@media only screen and (max-width: 420px) {
    .contact-adjust{
        padding-top: 560px;
        
        
    }
}

  


