.servicepic {
    position: relative;
    text-align: center;
    color: black;
  }


  .top-left {
    position: absolute;
    top: 8px;
    left: 75px;
  }

  .top-left2 {
    position: absolute;
    top: 350px;
    left: 79px;
  }

  .top-left3 {
    position: absolute;
    top: 400px;
    left: 79px;
  }



  
  @media only screen and (max-width: 420px) {
    .topper1{
      visibility: hidden;
      display: none;
      
      
    }
}










  
@media only screen and (min-width: 900px) {
    .topper1{
        font-weight: 700;
        font-size: 85px;
        text-align: left;
      
      
    }
}





@media only screen and (max-width: 420px) {
    .topper2{
        font-weight: 500;
        font-size: 30px;
        text-align: center;

        
      
      
    }
}

  
@media only screen and (min-width: 900px) {
    .topper2{
        visibility: hidden;
        display: none;
      
    }
}




@media only screen and (max-width: 420px) {
  .service-down{
    margin-top: 520px;

    
    
  }
}

@media only screen and (min-width: 900px) {
  .service-down{
    margin-top: 62px;

    
    
  }
}







@media only screen and (max-width: 420px) {
  .service-position{
    padding-right: 37px;

    
    
  }
}







  

.hireus1{
  position: relative;
  text-align: center;
  color: rgb(75, 73, 73);
}


.hireus2 {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hireus3{
  position: absolute;
  bottom: 140px;
  left: 90px;
}

.hireus4 {
  position: absolute;
  bottom: 140px;
  right: 90px;
}


.hireus5 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}



